# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IDE
.idea/
*.iml
*.iws
*.ipr
out/
.DS_Store

# Config files (downloaded)
config/checkstyle/*.xml

# Test outputs
**/build/
